<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Contáctanos</title>
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></strong>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/style.css" />
	</head>
	<body>
		<div class="container">
			<header>
            <a href=".."><img src="../static/img/logotipo1.png" class="logo" alt="Simplex : Free HTML Template by Dzyngiri" /></a>
                <ul>
                	<li><a href="..">Inicio</a></li>
                    <li><a href="../restaurantes">Agregar Restaurante</a></li>
		    <li><a href="../productos">Agregar Platillo</a></li>
		     <li><a href="../res">Consultar Restaurante</a></li>
		    <li><a href="../comida">Consutar Platillos</a></li>
                    <li><a href="" class="active">Contáctanos</a></li>
                </ul>
            </header>
            <div class="main">
                    <div class="inner">
                    	<div class="col-3">
                        	<h2><a href="#">Andrei's Web Desing</a></h2>
                            <p>Cartago, Costa Rica <br/>
                            Laboratorio de Tierra Media <br/>
                            Tecnológico de Costa Rica.</p>
                            <p>Teléfono: (+506) 2256-34-34</p>
                            <p>Email: info@andreiweb.com</p>
                            <p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/?ie=UTF8&amp;ll=9.856223,-83.912161&amp;spn=0.00158,0.002642&amp;t=m&amp;z=19&amp;output=embed"></iframe>
                        </div>
                        <div class="col-3">
                        	<h1>Escríbenos</h1>
                            <form id="ajax-contact-form" action="javascript:alert('Gracias, tu mensaje ha sido enviado.');">
								<fieldset class="info_fieldset" style="border:none;">
                                    <div class="form_row">
                                    <input type="text" class="form_input" name="name" placeholder="Tu Nombre" />
                                    </div>
                                    
                                    <div class="form_row">
                                    <input type="text" class="form_input" name="email" placeholder="Email" />
                                    </div>
                                    
                                    <div class="form_row">
                                    <input type="text" class="form_input" name="subject" placeholder="Asunto" />
                                    </div>
                                    
                                    <div class="form_row">
                                    <input type="text" class="form_input" name="Phone" placeholder="Telefono" />
                                    </div>
                                    
                                    <div class="form_row">
                                    <textarea class="form_textarea" name="message" placeholder="Mensaje: Escríbenos para conocer tu opinión ;)"></textarea>
                                    </div>
                                    <div class="form_row">
                                    <input type="submit" class="form_submit" id="submit" value="Enviar !" /> 
                                    </div>
                    			</fieldset>
                			</form>    
                        </div>
                    </div>
                    
                    <div class="clr"></div>
                    
            </div>
            <div class="clr"></div>
			<footer> 
               
			</footer>
            </div>
	</div>
		
	</body>

</html>
