{% block content %}
<!DOCTYPE html>
<html Lang="es">
	<head>  
		<meta charset='utf-8'>
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></strong>
		<link rel="stylesheet" href="stylesheet2.css">
	</head>
	<body>
		<a href=""><img src="../static/img/logotipo1.png" class="logo" alt="Simplex : Free HTML Template by Dzyngiri" /></a>
		<div id='contenido'>
			<header>
				<hgroup>
					<h1>Restaurantes</h1>
				</hgroup>
				<nav>
					<ul>
						<li><a href="{{url_for('home')}}">Menu</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<div id='textoPr'>
					<hgroup>
						<h1>Agregar el restaurante e ingrediente a consultar:</h1>
					</hgroup>
					<form method="post" action="{{ url_for('Platillos_Rest') }}" name="Agregar_restaurante">
					 <p><label> Restaurante: </label> <input type="text" name="restaurante" required></p><br>
					 <p><button type="submit">Registrar</button></p>
					</form>
			</div>
			</section>		
		</div>
	</body>
</html>
{% endblock %}
