<!DOCTYPE html>


	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Agregar Restaurantes</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}" />
	</head>
	<body>
		<div class="container">
			<header>
            <a href=".."><img src="../static/img/logotipo1.png" class="logo" alt="Simplex : Free HTML Template by Dzyngiri" /></a>
                <ul>
                		<li><a href="..">Inicio</a></li>
                    <li><a href="" class="active">Agregar Restaurante</a></li>
		    <li><a href="../productos">Agregar Platillo</a></li>
		    <li><a href="../res">Consultar Restaurante</a></li>
		    <li><a href="../comida">Consutar Platillos</a></li>
                    <li><a href="../contacto" >Contáctanos</a></li>
                </ul>
            </header>
           
		<div class="col-3">
		<img src="../static/img/bombur.png" align=middle></div>
				<form action="{{url_for('comidas')}}" method="post">
					<label for='Nombre'>Ingrese el nombre del restaurante</label><input type='text' name='Nombre'/><br>
					<label for='tipo_comida'>Ingrese el tipo de comida</label><input type='text' name='tipo_comida' /><br>
					<label for='ubicacion'> Ingrese la ubicacion</label><input type='text' name='Ubicacion'/><br>
					<label for='telefono'>Ingrese el telefono</label><input type='text' name='Telefono'/><br>
					<label for='horario'>Ingrese el horario</label><input type='text' name='Horario'/><br>
					
					<input type='submit' value='Ingresar'/>
				</form>
				{% with messages=get_flashed_messages() %}
					{% if messages %}
						Results:
						<pre>
							{% for message in messages %}
{{message}}
							{% endfor %}
						</pre>
					{% endif %}
				{% endwith %}
            <div class="clr"></div>
			<footer> 
                <div class="mainFooter">
                 </div>
			</footer>
            </div>
	</div>
		
	</body>

</html>
